* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDF2F8;
  font-family: 'Barlow Semi Condensed', sans-serif;    
}
.grid-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 40px;
  align-content: center;
  justify-items: center;
}
.mj-grid-template-A {
  grid-column: span 2;
  background-color: #733FC8;
  border-radius: 12px;
  color: hsl(0, 0%, 100%);
  padding: 16px 32px;
  box-shadow: 5px 5px 20px #6d6b6b6b;
  background-image: url(bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 80% 0%;
}
.mj-img-A img{
  border-radius: 50%;
  border: 3px solid #9875C8;   
  width: 100%;
}
.mj-img-A,.mj-img-B,.mj-img-C,.mj-img-D,.mj-img-E{
    width: 30px;
}
.mj-grid-template-B{
  background-color: #49556B;
  border-radius: 12px;
  color:  hsl(0, 0%, 100%);
  padding: 16px 32px;
  box-shadow: 5px 5px 20px #6d6b6b6b;
}
.mj-grid-template-C {
  grid-row: span 2;
  background-color: #FDFDFD;
  border-radius: 12px;
  padding: 16px 32px;
  box-shadow: 5px 5px 20px #6d6b6b6b;
}
.mj-grid-template-D{
  background-color: #FDFDFD;
  border-radius: 12px;
  padding: 16px 32px;
  box-shadow: 5px 5px 20px #6d6b6b6b;
}
.mj-grid-template-E {
  grid-column: span 2;
  background-color: #18202D;
  border-radius: 10px;
  color:  hsl(0, 0%, 100%);
  padding: 16px 32px;
  box-shadow: 5px 5px 20px #6d6b6b6b;
}
.mj-template-A-user-id,.mj-template-B-user-id,.mj-template-C-user-id,.mj-template-D-user-id,.mj-template-E-user-id{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 155px;
}
.mj-template-A-context h2,.mj-template-B-context h2,.mj-template-C-context h2,.mj-template-D-context h2,.mj-template-E-context h2{
  margin: 16px 0px;
  font-size: 21px;
}
.mj-template-A-context p,.mj-template-B-context p,.mj-template-C-context p,.mj-template-D-context p,.mj-template-E-context p{
  font-size: 15px;
  opacity: 70%;
  margin: 25px 0px;
  line-height: 1.4;
}
.mj-id-A p,.mj-id-B p,.mj-id-C p,.mj-id-D p,.mj-id-E p{
  opacity: 50%;
  line-height: 22px;
  font-size: 12px;
}
.mj-img-A,.mj-img-B,.mj-img-C,.mj-img-D,.mj-img-E{
  width: 30px;
}
.mj-img-A img{
  border-radius: 50%;
  border: 3px solid #9875C8;   
  width: 100%;
}
.mj-img-B img,.mj-img-C img,.mj-img-D img,.mj-img-E img{
  border-radius: 50%;
  width: 100%;
}
.mj-img-E img{
  border-radius: 50%;
  border: 3px solid #9875C8;
  width: 100%;
}
.mobile{
  display: none;
}
@media (max-width: 755px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.5fr);
  }
  .mj-grid-template-D {
    grid-column: span 2;
  }
}
@media (max-width: 555px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
  }
  .mj-grid-template-D {
    grid-column: span 2;
  }
  .mj-grid-template-B {
    grid-row: span 2;
  }
}
@media (max-width: 415px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 0.5fr);
  }
  .mj-grid-template-A,
  .mj-grid-template-B,
  .mobile,
  .mj-grid-template-D,
  .mj-grid-template-E {
    grid-row: span 1;
    grid-column: span 1;
  }
  .mj-grid-template-C{
    display: none;
  }
  .mobile{
    display: block;
  }
}
